.editor-styles-wrapper .wp-block-zmblocks-card { min-width: 0; outline: 1px dashed transparent; &.is-selected, &.has-child-selected { outline-color: #949494; } > .block-list-appender { position: relative; } }
.editor-styles-wrapper .wp-block-zmblocks-card:empty { min-height: 48px; }
.editor-styles-wrapper .wp-block-zmblocks-card { overflow:visible; }
