.wp-block-zmblocks-tabs { padding:16px; border:1px dashed #aaa; }
.zmblocks-tabs-editor-nav { display:flex; flex-wrap:wrap; gap:8px; margin-bottom:16px; }
.zmblocks-tabs-appender { grid-column:1 / -1; margin-top:16px; }
@media(min-width:960px) { .zmblocks-tabs-left > .zmblocks-tabs-navigation > .zmblocks-tabs-editor-nav,.zmblocks-tabs-right > .zmblocks-tabs-navigation > .zmblocks-tabs-editor-nav { flex-direction:column; } }
